/* aboutme css start*/
#aboutme .container {
  position: relative;
}

#aboutme .ground {
  margin: auto;
  z-index: 0;
}

#aboutme h5 {
  position: absolute;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 60px;
  color: #ffffff;
  z-index: 1;
  top: 32px;
  left: 533px;
}
#aboutme p {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 190%;
  text-align: center;
  color: #ffffff;
  top: 96px;
  left: 444px;
}

#aboutme p::after {
  content: "";
  border: 1px solid #ffffff;
  position: absolute;
  width: 168px;
  top: 17px;
  right: -181px;
}
#aboutme p::before {
  content: "";
  border: 1px solid #ffffff;
  position: absolute;
  width: 168px;
  top: 17px;
  left: -181px;
}
#aboutme .mark {
  position: absolute;
  z-index: 1;
  top: 23px;
  left: 523px;
}
/* aboutme css end*/

/* categories css start*/
#categories .container{
    width: 1110px;
    margin: auto;
}

#categories .row {
    margin: 68px 0px 0px;
}
#categories a {
    width: 160px;
    height: 63px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #353535;
    border: 1px solid transparent;
    border-radius: 20px;
    text-align: center;
    padding: 12px 0 0 0;
    margin: 0 0 0 0;
    transition: .6s;
}
#categories a:hover {
    border: 1px solid #000000;
}
/* categories css end*/

/* cards css start*/
#cards .container {
    width: 1110px;
    height: auto;
    margin: 100px auto;
}

#cards .card p{
    padding: 30px 0 0 0;
}

#cards .card img {
    
}

#cards .card h2{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #353535;
}

/* cards css end*/
