/* common css start*/

:root {
  --textColor: #353535;
  --yellowBackground: #ffcc00;
  --white: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: 0px;
}

body {
  font-family: Poppins, sans-serif;
}

h1,
h2 {
  font-family: "PT Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 1190px;
  margin: 0 auto 36px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.w-30 {
  width: 30%;
}

.w-32 {
  width: 32%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.d-in-block {
  display: inline-block;
}

/* common css end*/

/* nav section css start*/

#navbar ul li a {
  padding: 18px 22.5px;
  font-weight: 500;
  font-size: 15px;
  color: var(--textColor);
  line-height: 2;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  border-bottom: 1px solid transparent;
  position: relative;
}

#navbar ul li a::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 0%;
  height: 1px;
  background-color: var(--textColor);
  transition: all 0.5s ease 0s;
}

#navbar ul li a:hover::before {
  width: 100%;
  left: 0px;
}

/* nav section css end*/

/* banner section css start*/

#banner .container {
  height: 820px;
  position: relative;
}

#banner .banner_left_side .intro p:nth-child(1) {
  margin: 108px 0px 0px;
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
}

#banner .banner_left_side p:nth-child(4) {
  font-weight: 400;
  font-size: 20px;
  color: var(--textColor);
  margin: 20px 0px 0px;
}

#banner .banner_left_side .wave_hand {
  position: absolute;
  top: 107px;
  left: 315px;
  height: 32px;
  display: inline-block;
}

#banner .banner_left_side h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;
  color: var(--textColor);
}

#banner .talk a {
  width: 209px;
  height: 69px;
  border: 1px solid var(--textColor);
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--textColor);
  text-align: center;
  padding: 18px 0px 0px;
  transform: scale(0.95);
  transition: all 0.5s ease 0s;
}

#banner .talk a:hover {
  background-color: var(--yellowBackground);
  transform: scale(1);
  color: var(--white);
  border: 1px solid transparent;
}

#banner .talk {
  margin-top: 84px;
  align-content: flex-start;
}

#banner .banner_left_side .talk i {
  padding-left: 10px;
}

#banner .follow_me {
  margin: 70px 0px 0px;
}

#banner .follow_me p {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}

#banner .follow_me a {
  width: 40px;
  height: 40px;
  background: rgb(244, 243, 243);
  border-radius: 50%;
  margin: 0px 16px 16px;
  font-size: 22px;
  text-align: center;
  color: var(--textColor);
  padding-top: 4px;
}

#banner .switch {
  margin: auto;
}

#banner .banner_right_side {
  position: relative;
}

#banner .banner_right_side .ashikur_pic {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#banner .banner_right_side .ui_designer {
  position: absolute;
  width: 132px;
  height: 44px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 30px;
  text-align: center;
  align-items: center;
  top: 146px;
  left: 0px;
}

#banner .banner_right_side .orange_round {
  width: 16px;
  height: 16px;
  background: linear-gradient(rgb(255, 141, 58) 0%, rgb(241, 101, 0) 100%);
  border-radius: 50%;
  margin: 0px 0px 0px 20px;
}

#banner .banner_right_side .ui_designer p,
.userResearch {
  color: var(--textColor);
  font-size: 12px;
  font-weight: 400;
  margin: 0px 0px 0px 10px;
}

#banner .banner_right_side .userResearch {
  position: absolute;
  width: 132px;
  height: 44px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 30px;
  text-align: center;
  align-items: center;
  top: 81px;
  left: 432px;
}

#banner .banner_right_side .userResearch img {
  margin: 0px 0px 0px 8px;
}

#banner .banner_right_side .ashikul {
  position: absolute;
  width: 155px;
  height: 167px;
  left: -26px;
  top: 491px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 20px;
  border-radius: 16px;
  text-align: center;
  align-items: center;
}

#banner .banner_right_side .ashikul img {
  margin: 17px 0px 0px;
}

#banner .banner_right_side .ashikul h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: var(--textColor);
}

#banner .banner_right_side .ashikul p:nth-child(3) {
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 15px;
  color: rgb(122, 122, 122);
}

#banner .banner_right_side .ashikul h5 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 42px;
  color: rgb(53, 53, 53);
}

#banner .banner_right_side .ashikul p:nth-child(5) {
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 0px;
  color: rgb(122, 122, 122);
}

/* banner section css end*/

/* about me css start*/

#aboutMe {
  height: 556px;
  background: linear-gradient(
    95.13deg,
    rgb(255, 204, 0) -21.46%,
    rgb(250, 255, 203) 112.13%
    );
  }
#aboutMe .container .row{
  position: relative;
}

#aboutMe .aboutMePic img {
  position: absolute;
  display: inline-block;
  top: 26px;
  left: 0px;
}

#aboutMe .aboutMeText {
  padding: 78px 0px 86px;
  width: 570px;
  height: 392px;
}

#aboutMe .aboutMeText h3 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: rgb(53, 53, 53);
}

#aboutMe .aboutMeText p {
  font-weight: 400;
  font-size: 20px;
  color: var(--textColor);
  margin: 20px 0px 0px;
}

#aboutMe .aboutMeText a {
  width: 171px;
  height: 66px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: var(--textColor);
  padding: 17px 0px 0px;
  margin: 50px 0px 0px;
}

#aboutMe .halfRound {
  position: absolute;
  bottom: -165px;
  right: 0px;
}

/* about me css end*/

/* card css start*/

#cards .container {
  width: 1110px;
  height: 683px;
  margin: auto;
}

#cards .pixelPerfect {
  width: 350px;
  height: 367px;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 30px;
  border-radius: 20px;
  margin: 152px 0px 0px;
  text-align: center;
}

#cards .pixelPerfect img {
  margin: 38px auto auto;
}

#cards .pixelPerfect h4 {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--textColor);
  margin: 18px 0px 0px;
}

#cards .pixelPerfect p {
  height: 120px;
  width: 256px;
  margin: 18px 0px 0px;
}

/* card css end*/

/* branding css start*/

#branding .background {
  width: 1110px;
  height: 473px;
  background: linear-gradient(
    95.13deg,
    rgb(255, 204, 0) -21.46%,
    rgb(255, 245, 203) 112.13%
  );
  border-radius: 30px;
  position: relative;
}

#branding .background .digitalProDesign {
  position: absolute;
  bottom: 0px;
  left: 20px;
}

#branding .brandingText {
  width: 410px;
  height: 315px;
}

#branding .background h3 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: rgb(53, 53, 53);
}

#branding .background p {
  font-weight: 400;
  font-size: 20px;
  color: var(--textColor);
  margin: 20px 0px 0px;
}

#branding .background a {
  width: 171px;
  height: 66px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: var(--textColor);
  padding: 17px 0px 0px;
  margin: 50px 0px 0px;
}

#branding .background .brandingText {
  padding: 83px 0px 0px;
}

#branding .background .brandingText .arrow {
  margin: 0px 0px 0px 20px;
}

/* branding css end*/

/* working on css start*/

#working_on .container {
  width: 1110px;
  height: 714px;
  padding: 147px 0px 0px;
}

#working_on .card {
  width: 380px;
  height: 93px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 30px;
  border-radius: 20px;
  padding: 0px 0px 0px 15px;
  margin: 47px 0px 0px;
}

#working_on .card .icon {
  width: 58px;
  height: 58px;
  background: rgb(85, 133, 47);
  border-radius: 50%;
  text-align: center;
  color: var(--white);
  font-size: 25px;
  padding: 10px 0px 0px;
  margin: 0px;
}

#working_on .card .card_text {
  margin: 0px 0px 0px 30px;
}

#working_on .card .card_text h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: var(--textColor);
}

#working_on .card .card_text p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: var(--textColor);
}

#working_on .texts {
  text-align: right;
  position: relative;
}

#working_on .texts h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: var(--textColor);
  margin: 50px 0px 0px;
}

#working_on .texts p {
  width: 525px;
  height: 94px;
  font-weight: 400;
  font-size: 20px;
  color: var(--textColor);
  margin: 47px 0px 0px;
  display: inline-block;
}

#working_on .complete {
  justify-content: right;
}

#working_on .complete_project {
  margin: 20px 0px 0px;
}

#working_on .complete_project h4 {
  font-weight: 700;
  font-size: 40px;
  font-family: "PT Sans";
}

#working_on .complete_project p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  display: inline;
}

/* working on css end*/

/* expecience css start*/

#work_expe .work_exp_head {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

#work_expe .work_exp_items h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: rgb(53, 53, 53);
}

#work_expe .work_exp_items {
  position: relative;
  padding: 30px 0px 0px;
}

#work_expe .work_exp_items::after {
  content: "";
  position: absolute;
  height: 100%;
  border: 1px dashed rgb(122, 122, 122);
  top: 40px;
  left: 40%;
}

#work_expe .work_exp_description {
  position: relative;
}

#work_expe .work_exp_description::after {
  position: absolute;
  content: "";
  height: 42px;
  width: 42px;
  border: 1px dashed var(--textColor);
  border-radius: 50%;
  top: 0px;
  left: calc(-24% + 1.7px);
  z-index: 1;
  background: white;
}

#work_expe .work_exp_description::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: rgb(82, 171, 112);
  border-radius: 50%;
  top: 11px;
  left: -21.7%;
  z-index: 2;
}

#work_expe .work_exp_description h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: rgb(53, 53, 53);
}

#work_expe .work_exp_description p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200.5%;
  color: rgb(122, 122, 122);
}

/* expecience css end*/

/* my_experts_area css start*/
#my_experts_area {
  padding: 307px 0 0 0;
}

#my_experts_area .experts_areas_text h2 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  /* identical to box height */
  color: #353535;
}

#my_experts_area .experts_areas_text p {
  width: 585px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  /* or 40px */
  color: #7a7a7a;
  margin: 20px 0 0 0;
}

#my_experts_area .experts_areas_text a {
  width: 180px;
  height: 49px;
  background: #ffcc00;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  /* identical to box height, or 29px */
  color: #ffffff;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 10px 0 0 0;
  transform: scale(1);
  transition: 0.5s;
}

#my_experts_area .experts_areas_text a:hover {
  transform: scale(0.9);
}

#my_experts_area .select_exprience a {
  width: 174px;
  height: 63px;
  border: 1px solid transparent;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #353535;
  padding: 15px 0 0 0;
  margin: 0 0 0 15px;
  transition: 0.8s;
}

#my_experts_area .select_exprience a:hover {
  border: 1px solid #000000;
}

#my_experts_area .skils_items {
  margin: 57px 0 0 0;
}

#my_experts_area .skils_items .outer {
  width: 380px;
  height: 6px;
  background: #d9d9d9;
  border-radius: 50px;
  margin: 10px 0 0 0;
}

#my_experts_area .skils_items .inner {
  height: 100%;
  background-color: #f16500;
  border-radius: 50px;
  position: relative;
}

#my_experts_area .skils_items .inner span {
  position: absolute;
  top: -35px;
  right: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #f16500;
}

/* my_experts_area css end*/

/* my services css start*/
#my_service {
  height: 838px;
  background: #fff7d5;
  margin: 146px 0 0 0;
}

#my_service h4 {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #353535;
  padding: 71px 0 0 0;
}

#my_service p {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #7a7a7a;
  margin: 10px 0 0 0;
}

#my_service .service_card {
  width: 350px;
  height: 422px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  text-align: center;
  margin: 100px 0 0 0;
  transition: 0.5s;
  transition-duration: 0.5s;
}

#my_service .service_card:hover {
  background-image: linear-gradient(158.91deg, #ffcc00 3.12%, #ffe476 94.59%);
  transform: scale(1.07);
  transform-origin: bottom;
  cursor: pointer;
}

#my_service .service_card img {
  margin: 37px auto 0;
  display: block;
}

#my_service .service_card h3 {
  margin: 20px auto auto 0;
}

#my_service .service_card p {
  width: 253px;
  height: 135px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  color: #7a7a7a;
  margin: 20px auto 0;
}

/*my services css end*/

/* client_feedback css start*/
#client_feedback {
  height: 859px;
  background: #fbfbfb;
  padding: 92px 0 0 0;
}

#client_feedback h3 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 135.4%;
  color: #353535;
}

#client_feedback p {
  width: 703px;
  height: 64px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #7a7a7a;
  margin: 13px 0 0 0;
}

#client_feedback .row {
  margin: 50px 0 0 0;
}

#client_feedback .client_message p {
  margin: 50px 0 0 0;
  width: 564px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #7a7a7a;
}

#client_feedback .client_message .client_sign {
  margin: 120px 0 0 50px;
}

#client_feedback .client_message .client_sign h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 48px;
  color: #353535;
}

#client_feedback .client_message .client_sign p {
  margin: 0;
  padding: 0;
}
/* client_feedback css end*/

/* blog_post css start*/

#blog_post {
  height: 966px;
  padding: 100px 0 0 0;
}

#blog_post h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: right;
  color: #353535;
}

#blog_post .blog_item {
  margin: 113px 0 0 0;
}

#blog_post .date {
  text-align: right;
}

#blog_post .blog_owner_name {
  text-align: left;
  margin: 0 0 0 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 190%;
  color: #353535;
}

#blog_post .blog_text h4 {
  width: 230px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 190%;
  margin: 30px 0 0 0;
}

#blog_post .blog_text h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 190%;
  /* or 34px */
  color: #353535;
  margin: 50px 0 0 0;
}
/* blog_post css end*/

/* newsletter css start*/
#newsletter .background {
  width: 1110px;
  height: 295px;
  background: linear-gradient(95.13deg, #ffcc00 -21.46%, #fff5cb 112.13%);
  border-radius: 30px;
}

#newsletter .background .text_sec {
  padding: 70px 0 0 70px;
}

#newsletter .background .text_sec p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* identical to box height, or 40px */
  color: #353535;
}

#newsletter .background .text_sec h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 200%;
  /* identical to box height, or 72px */
  color: #353535;
}

#newsletter .background .email {
  width: 455px;
  height: 82px;
  background: #ffffff;
  border-radius: 16px;
  margin: 0 0 0 50px;
  position: relative;
}

#newsletter .background .email form input {
  border: none;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  margin: 25px 0 0 20px;
}

#newsletter .background .email .send_now {
  width: 132px;
  height: 82px;
  background: #ff6565;
  border-radius: 0px 16px 16px 0px;
  position: absolute;
  top: 0;
  right: 0;
}
#newsletter .background .email .send_now {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  padding: 0 0 0 20px;
}

/* footer css start*/
#footer {
  height: 480px;
  background: #575757;
  margin: 154px 0 0 0;
}
#footer .fotter_sec_1 img {
  margin: 90px 0 0 0;
}

#footer .fotter_sec_1 p:nth-child(2) {
  margin: 175px 0 0 0;
  color: #bbb9b9;
  font-weight: 400;
  font-size: 18px;
}

#footer .fotter_sec_1 p:nth-child(3) {
  margin: 10px 0 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: #ffffff;
}

#footer .fotter_sec_2 h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 200%;
  color: #ffffff;
  margin: 74px 0 0 0;
}

#footer .fotter_sec_2 p:nth-child(2) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  text-align: justify;
  color: #bbb9b9;
}
#footer .fotter_sec_2 p:nth-child(3) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: justify;
  color: #bbb9b9;
  margin: 76px 0 0 0;
}

#footer .fotter_sec_2 p:nth-child(4){
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: #FFFFFF;
  margin: 7px 0 0 0;
}



#footer .fotter_sec_3 a:nth-child(1) {
  width: 209px;
  height: 69px;
  background-color: #ffcc00;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--textColor);
  text-align: center;
  padding: 18px 0px 0px;
  margin: 129px 0 0 89px;
}

#footer .fotter_sec_3 .follow_me{
  margin: 111px 0 0 0;
}

#footer .fotter_sec_3 .follow_me p{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: justify;
  color: #FFFFFF;
}

#footer .fotter_sec_3 .follow_me a{
  width: 48px;
  height: 48px;
  background: #484848;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 0 0 0 10px ;
  padding: 9px 0 0 0;
}

/* footer css end*/
