/* Common Css Start */
:root {
  --textColor: #353535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: "PT Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 1190px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.w-30 {
  width: 30%;
}

.w-32 {
  width: 32%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

/* Common Css End */

/* navbar css start*/

#navbar ul li a {
  padding: 18px 22.5px;
  font-weight: 500;
  font-size: 15px;
  color: var(--textColor);
  line-height: 2;
  text-transform: uppercase;
  transition: 0.5s;
  border-bottom: 1px solid transparent;
  position: relative;
}

#navbar ul li a::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--textColor);
  transition: 0.5s;
}

#navbar ul li a:hover::before {
  width: 100%;
  left: 0;
}

/* navbar css end*/

/* banner css start*/
#banner {
  /* background-color: rgb(221, 221, 221); */
  height: 820px;
  position: relative;
}

#banner .banner_left_side p:nth-child(1) {
  margin: 108px 0 0 0;
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
}

#banner .banner_left_side p:nth-child(4) {
  font-weight: 400;
  font-size: 20px;
  color: var(--textColor);
  margin: 20px 0 0 0;
}

#banner .banner_left_side img {
  position: absolute;
  top: 107px;
  left: 391px;
  height: 32px;
  display: inline-block;
}

#banner .banner_left_side h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;
  color: var(--textColor);
}

#banner .banner_left_side a:nth-child(5){
  background: #ffcc00;
  border-radius: 20px;
  width: 209px;
  height: 69px;
}

#banner .banner_right_side {
}

/* banner css end*/

/* aboutMe css start*/
#aboutMe {
  height: 556px;
  background: linear-gradient(95.13deg, #ffcc00 -21.46%, #faffcb 112.13%);
}

/* aboutMe css end*/
